<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title>Пост</title>
    <script>
        function editComment(id) {
            let comment = document.getElementById("comment" + id);
            let newComment = document.createElement("textarea");
            newComment.innerHTML = comment.innerHTML;
            newComment.rows = 3;
            newComment.name = "text";
            newComment.style = "width:100%;";
            comment.parentNode.replaceChild(newComment, comment);

            let button = document.getElementById(id);
            button.remove();

            let newButton = document.createElement("button");
            newButton.innerHTML = "&#10003;";
            newButton.style=  "float:right;"
            newComment.parentNode.appendChild(newButton);
        }

        function addComment() {
            let button = document.getElementById("addCommentButton");
            button.remove();

            let form = document.getElementById("addCommentForm");

            let newComment = document.createElement("textarea");
            newComment.rows = 3;
            newComment.name = "text";
            newComment.style = "width:100%;";
            form.appendChild(newComment);

            let newButton = document.createElement("button");
            newButton.innerHTML = "&#10003;";
            newButton.style = "float:right;"
            form.appendChild(newButton);
        }
    </script>
</head>

<body>
    <a href="/posts" style="float:right;">
        <b>НА ГЛАВНУЮ ⤸</b>
    </a>
    <table style="width:50%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <form method="GET" th:action="${'/posts/' + post.id + '/edit'}">
                    <button style="float:right;">РЕДАКТИРОВАТЬ ПОСТ</button>
                </form>
            </td>
            <td>
                <form method="POST" th:action="${'/posts/' + post.id + '/delete'}">
                    <button style="float:right;">УДАЛИТЬ ПОСТ</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <h2 th:text="${post.title}"></h2>
                <p>
                    <img height="300" th:src="@{'/images/' + ${post.id}}"/>
                </p>
                <p>
                    <form th:action="${'/posts/' + post.id + '/like'}" method="post">
                        <button name="like" value="true">&#x1F44D;</button>
                        <span th:text="${post.likesCount}"></span>
                        <button name="like" value="false">&#128078;</button>
                        <span th:text="${'комментарии ' + post.comments.size()}" style="float:right;"></span>
                    </form>
                </p>
                <p>
                    <span th:each="tag : ${post.tags}" th:text="${'#'+tag+' '}"></span>
                </p>
            </td>
        </tr>
        <tr th:each="textPart : ${post.getTextParts}">
            <td th:text="${textPart}"></td>
        </tr>
        <tr>
            <td>
                <hr/>
                <h2>Комментарии</h2>
            </td>
        </tr>
        
        <tr th:each="comment : ${post.comments}">
            <td style="border-left:thin solid grey;">
                <form method="POST" th:action="${'/comments/' + post.id() + '/edit/' + comment.getId()}">
                    <span th:id="${'comment' + comment.getId()}" th:text="${comment.getText()}"></span>
                    <button th:id="${comment.getId()}" onclick="editComment(this.id)" style="float:right;">&#9998;</button>
                </form>
            </td>
            <td>
                <form method="POST" th:action="${'/comments/' + post.id() + '/delete/' + comment.getId()}">
                    <button style="float:right;">&#10007;</button>
                </form>
            </td>
        </tr>
        
        <tr>
            <td>
                <form id="addCommentForm" th:action="${'/comments/' + post.id() + '/add'}" method="post">
                    <button id="addCommentButton" style="float:right;" onclick="addComment()">Добавить комментарий</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>